/*
	colors: #749231 - blue; #3bc2e7 - dark blue; #dfdfdf - background light gray; #c8c8c8 - background border gray; #aabfdb - light gray; #969595 - gray; #787878 - dark gray #2e2e2e - bottom dark gray
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Vast+Shadow&display=swap');

/*
font-family: 'Bebas Neue', cursive;

font-family: 'Vast Shadow', cursive;
*/




html {

}

body{
    font-family: 'Bebas Neue', cursive;
}

.navbar{
    background-color: #7693bc;
}

.display-5 {
    font-family: 'Vast Shadow', cursive;
    color: wheat;
}


.sidebar{
    background-image: url("../img/SwissWinter.jpg");
    font-family: 'Bebas Neue', sans-serif;
    color:white;
    width:30%;
    max-width:440px;
}

.sidebar .nav-item{
    color: white;
    font-size: 2rem;
}

.main{
    background-image: url("../img/ss-pattern_antra.png");
}


.nav-link {
    color:wheat;
}
.nav-link:hover {
    color:aqua;
}

html.snippet-root,.container-sm {

    font-family: 'Vast Shadow', cursive;;
    background-color: transparent;
    color:wheat;
}

html.snippet-root body{
    background-color: transparent;
}

.form-control{
    background-color: grey;
    font-family: 'Bebas Neue', sans-serif;
}

.form-control:hover{
    background-color: slategrey;
    font-family: 'Bebas Neue', cursive;
}

.form-control:focus{
    background-color: slategrey;
    font-family: 'Bebas Neue', cursive;
}

.form-floating label{
    font-family: 'Bebas Neue', cursive;
}

.btn-group .btn-light {
    background-color: wheat;
}

.btn-group .btn-light.active {
    background-color: aqua;
}

.invalid-feedback {
    font-family: 'Bebas Neue', cursive;
    color: darkred;
}
/*
.pagination .page-item{
    background-color: wheat;
}
*/
.pagination .page-item .page-link{
    color:black;
}
.pagination .page-item.disabled .page-link{
    color:slategrey;
}

.plugin-container{
    border-radius: 15px;
    background-color: rgba(255,255,255,.3);
}

.demo-bar{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='385px'><text x='15' y='35' fill='red' font-size='20' font-family='sans-serif'>+++This site is for demonstration only+++</text></svg>");
}

.text-dark p{
    font-family: sans-serif;
    font-size: 0.8rem;
}

